<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head :: head}">

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img th:src="@{/images/nav-bg.jpg}" alt="">
    </div>

    <!-- end header section -->
    <header th:replace="~{/fragments/header :: header}">

  </div>

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Forgot Password
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
            <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
            <form action="#" th:action="@{/reset-password}" method="post">

              <div>
                <input id="email" name="email" type="email" class="form-control" placeholder="Email" required />
              </div>
              <div class="btn_box">
                <button type="submit">
                  Reset Password
                </button>
              </div>
            </form>
            <hr/>
            <div>               
              <a th:href="@{/login}" class="link-primary">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  </section>

  <!-- end about section -->
  <footer th:replace="~{/fragments/footer :: footer}">


    <!-- footer section -->


</html>