<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head :: head}">

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img th:src="@{/images/nav-bg.jpg}" alt="">
    </div>
    
    <!-- end header section -->
  <header th:replace="~{/fragments/header :: header}">

  </div>

   <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Register
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="#"
            th:action="@{/register}"
            th:object="${account}"
            method="post">

              <div>
                <input id="email" name="email" type="email" th:field="*{email}" class="form-control" placeholder="Email" />
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger">Email Error</p>
              </div>
              <div>
                <input id="password" name="password" type="password" th:field="*{password}" class="form-control" placeholder="Enter Password" />
                 <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger">Password Error</p>
              </div>
              <div>
                <input id="firstname" type="text" th:field="*{firstname}" class="form-control" placeholder="Firstname" />
                <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="alert alert-danger">First Name Error</p>
              </div>
               <div>
                <input id="lastname" type="text" th:field="*{lastname}" class="form-control" placeholder="lastname" />
                <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="alert alert-danger">Last Name Error</p>
              </div>
              <div>
                <select id="gender" name="gender" th:field="*{gender}" class="form-control">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
                <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="alert alert-danger">Gender Error</p>
              </div>


               <div>
                <input id="age" type="number" th:field="*{age}" min="18" max="99" class="form-control" placeholder="Enter age" />
                <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="alert alert-danger">Age Error</p>
              </div>
               <div>
                <input id="dateOfBirth" type="date" th:field="*{dateOfBirth}" class="form-control" placeholder="Enter date of birth" />
                <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="alert alert-danger">dateOfBirth Error</p>
              </div>
            
              <div class="btn_box">
                <button type="submit">
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  </section>

  <!-- end about section -->
<footer th:replace="~{/fragments/footer :: footer}">

 
  <!-- footer section -->

  
</html>